
.all-pangolin {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.pangolin-card{
  background-color: #657d81;
  width: 25%;
  margin-top: 50px;
  margin-left: 20px;
  height: 500px;
}
.title-card{
  text-decoration: none;
  color: #fef8ec;
  font-weight: 800;
}

button{
 color:#e2b4b7
}




