<main class="all-pangolin">
  <mat-card class="pangolin-card" *ngFor="let pangolin of allPangolin$ | async" as pangolin>
    <mat-card-header>
      <mat-card-title><a class="title-card" [routerLink]="['/pangolin', pangolin._id]">{{pangolin.username}}</a>
      </mat-card-title>
      <mat-card-subtitle>{{pangolin.age}} ans</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src={{pangolin.image}} alt="Photo de pangolin">
    <mat-card-content>
      <p>
        Il appartient à la famille des {{pangolin.famille}} de la race des {{pangolin.race}}.
        Il se nourrit principalement de {{pangolin.nourriture}}.
      </p>
    </mat-card-content>
    <mat-card-actions class="icons">
      <button mat-button (click)="addFriend()"><span class="material-icons">person_add</span></button>
      <button mat-button (click)="deleteFriend()"><span class="material-icons">person_remove</span></button>
      <button mat-button [routerLink]="['/edit-pangolin', pangolin._id]"><span class="material-icons">
          edit
        </span></button>
    </mat-card-actions>
  </mat-card>
</main>
