<main class="OnePangolin">
    <mat-card class="example-card" *ngIf="(OnePangolin$ | async) as pangolin">
      <mat-card-header>
        <mat-card-title>{{pangolin.username}}</mat-card-title>
        <mat-card-subtitle>{{pangolin.age}} ans</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://images.unsplash.com/photo-1603703661537-137f7373028a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80"
        alt="Photo de pangolin">
      <mat-card-content>
        <p>
          Il appartient à la famille des {{pangolin.famille}} de la race des {{pangolin.race}}.
          Il se nourrit principalement des {{pangolin.nourriture}}.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    </main>

