<main class="all-pangolin">
  <mat-card class="pangolin-card" *ngFor="let pg of friendsPangolin$ | async">
    <mat-card-header>
      <mat-card-title [routerLink]="['/pangolin', pg._id]"><a class="title-card">{{pg.age}}</a>
      </mat-card-title>
      <!-- <mat-card-subtitle>{{pg.age}} ans</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img class="image" mat-card-image src={{pg.image}} alt="Photo de pangolin"> -->
    <mat-card-content>
      <!-- <p>
        Il appartient à la famille des {{pg.famille}} de la race des {{pg.race}}.
        Il se nourrit principalement de {{pg.nourriture}}.
      </p> -->
    </mat-card-content>
  </mat-card>
</main>
