<mat-card class="mat-card">
  <h2>Sign in</h2>
  <form #loginForm="ngForm" (ngSubmit)="signin()">
    <div class="signinForm">
      <mat-form-field>
        <input matInput type="text" placeholder="pangolin username" name="username" id="username"
          [(ngModel)]="pangolin.username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="password" name="password" id="password"
          [(ngModel)]="pangolin.password" required autocomplete="current password">
      </mat-form-field>
      <button mat-button type="submit">SIGN IN</button>
      <p>
        No account yet ? Please
        <a routerLink="/signup">Signup</a>
      </p>
    </div>
  </form>
</mat-card>
