<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>My Pangolin Adress Book</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image-home" src="https://m.media-amazon.com/images/I/51F8phoVIyL._AC_SX425_.jpg"
    alt="Photo adress book">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eos molestias obcaecati. Nesciunt, voluptate cumque
      commodi modi necessitatibus nihil tempore saepe repudiandae animi dicta fuga, deserunt tempora facere. Minima,
      distinctio!
    </p>
  </mat-card-content>
</mat-card>
