<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>My Pangolin Adress Book</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="image-home" src="https://m.media-amazon.com/images/I/51F8phoVIyL._AC_SX425_.jpg"
    alt="Photo adress book">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eos molestias obcaecati. Nesciunt, voluptate cumque
      commodi modi necessitatibus nihil tempore saepe repudiandae animi dicta fuga, deserunt tempora facere. Minima,
      distinctio!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam placeat in, nemo quasi perferendis iste possimus! Suscipit illum harum nihil laborum inventore hic doloremque, perferendis sit qui possimus incidunt.
    </p>
  </mat-card-content>
</mat-card>
